body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --background-color: #fff;
    --foreground-color: #000;
    --border-1: #00000058;
    --border-2: #0000007a;
    --button--background: #00000030;
    --node-hover-color: #0011ff;
    --child-hover-color: #ffb700;
    background-color: var(--background-color);
}

.theme2{
    --background-color: #1c1c1cef;
    --foreground-color: #fff;
    --border-1: #ffffff58;
    --border-2: #ffffff7a;
    --node-hover-color: #c300ff;
    --child-hover-color: #d0ff00;
    --button--background: #ffffff60;
}

.header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--foreground-color);
}

.title{
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions{
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.instructions:hover .instruction-list{
    display: block;
}

.instruction-list{
    position: absolute;
    top: 25px;
    display: none;
    width: min(300px, 80vw);
    background-color: var(--background-color);
    border: 1px solid var(--border-1);
    border-radius: 5px;
    padding-right: 5px;
    transition: all 0.5 ease-in-out;
}

.options{
    display: flex;
}

.options > div{
    margin: 10px;
    cursor: pointer;
}

.setting label{
    color: var(--foreground-color);
}

.setting button{
    background-color: var(--button--background);
}

.footer, .settings{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    color: var(--foreground-color);
}

.settings{
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
}

.setting{
    flex-basis: 150px;
    display: flex;
    margin: 5px;
    align-items: center;
}

.checkString{
    margin-left: 10px;
    background-color: var(--border-1);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.checkString:hover{
    background-color: var(--border-2);
}

.inputString{
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #0000004d;
    outline: none;
}

.container {
    width: 100%;
    height: calc(100% - 120px);
}

.stepsDisplay{
    position: absolute;
    top: 40px;
    left: 0;
    width: calc(100% - 24px);
    height: calc(100% - 80px);
    border: 2px solid var(--foreground-color);
    border-radius: 5px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 10px;
    z-index: 1;
    transition: top 0.5s ease-in-out;
}

.level{
    height: 40px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: var(--foreground-color);
}

.state{
    height: 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground-color);
    margin: 5px;
    cursor: pointer;
}

.stepsDisplayClose{
    top: -100%;
}

.nodeHover{
    color: var(--node-hover-color);
}

.childHover{
    color: var(--child-hover-color);
}

canvas{
    box-shadow: 0 0 10px 1px #00000076;
    background-color: var(--background-color);
}

.message-box {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--foreground-color);
}

.message{
    padding: 10px;
    margin: 5px;
    background-color: var(--background-color);
    border-left: 5px solid;
    transition: all 0.5s ease-in-out;
}

.alert{
    border-color: rgb(213, 213, 22);
    box-shadow: 0 0 10px 2px rgba(213, 213, 22, 0.3);
}

.error{
    border-color: rgb(213, 22, 22);
    box-shadow: 0 0 10px 2px rgba(213, 22, 22, 0.3);
}

.success{
    border-color: rgb(22, 213, 22);
    box-shadow: 0 0 10px 2px rgba(22, 213, 22, 0.3);
}

.fade-out{
    opacity: 0;
}

@media (max-width: 750px) {

    .container{
        height: calc(100% - 160px);
    }

    .settings{
        height: 80px;
    }
}

@media (max-width: 350px) {

    .container{
        height: calc(100% - 180px);
    }

    .settings{
        margin-top: 5px;
        height: 100px;
    }
}